$header-height: 90px;

.layoutWrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-left: 1.25rem;
}

.leftWrapper {
  flex: 1;
  height: calc(100dvh - $header-height - 4px);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;

  > div {
    border: 1px solid red;
    height: 100%;
    width: 100%;
  }
}

.graphs {
  margin-top: 1.25rem;
  background-color: white;
  background-color: gold;
  border-radius: 40px;
  height: 100%;
  width: 100%;
}

.rightWrapper {
  flex: 1;
  background-color: lightgreen;
  height: calc(100dvh - $header-height - 4px);
  width: 100%;
  box-sizing: border-box;
}