//
.main {
  width: 100dvw;
  height: 100dvh;
  background-color: #f6f6f6;
  color: #1e1e1e;
  display: flex;
  flex-direction: column;
  position: relative;

  header {
    height: 90px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    box-sizing: border-box;

    div {
      &:first-child {
        h1 {
          font-size: 1.25rem;
          font-weight: 700;
        }
      }

      &:last-child {
        display: flex;
        align-items: center;

        button {
          background-color: white;
          height: 60px;
          width: 60px;
        }

        img {
          border-radius: 50%;
          height: 100%;
          margin-left: .75rem;
        }
      }
    }
  }
}

.tabs {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);

  > div {
    button {
      font-weight: 600;
      margin-right: .25rem;
      padding: 1.75rem 1.25rem;
      background-color: #ededed;

      span {
        box-shadow: none;
      }
    }
  }
}
